@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow: hidden;
}

.default {
  background-image: url('/default.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px) brightness(0.8);
  transform: scale(1.1);
}

.rain {
  background-image: url('/rain.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px) brightness(0.8);
  transform: scale(1.1);
}

.sun {
  background-image: url('/sun.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px) brightness(0.8);
  transform: scale(1.1);
}

.snow {
  background-image: url('/snow.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px) brightness(0.8);
  transform: scale(1.1);
}

.wind {
  background-image: url('/wind.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px) brightness(0.8);
  transform: scale(1.1);
}

.cloud {
  background-image: url('/cloudy.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px) brightness(0.8);
  transform: scale(1.1);
}
